.footer {
  background: rgb(80, 111, 129);
  color: rgb(240, 223, 205);
  padding: 25px 15px;
  
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.brand {
  font-size: 16px;
  font-weight: 600;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.links a {
  color: rgb(240, 223, 205);
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s ease;
}

.links a:hover {
  text-decoration: underline;
}

.siret {
  font-size: 14px;
  opacity: 0.8;
}