.header {
  display: grid;
  flex-direction: column;
  background-image: url('/image/snorkeling.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.buttonsRight{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 200px;
  
}

.btntete{
  display: flex;
background-color:transparent;

  color: white;
  font-size: 20px;
  flex-direction: row;
 align-items:center;
 width: 100%;
justify-content: space-between;


}

.title{
  justify-content: center;
  align-items: center;
  font-family: avenir;
  font-weight:400;
  letter-spacing: 15px;
    font-size: 24px;
  color:white;  
  


}

.customModal{

}

.menu{
  background-color: transparent;
  color: white;
  font-size: 18px;
}
.bas{
 
  display: flex;

}
.titles{
  
 
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  
  
}
.title4{
font-family: avenir;
  color: white;
  font-size: 50px;
}
.titlebtm {

  font-family: avenir;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.bas{
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn_bas{
  margin-bottom: 40px;
  margin-right: 90px;
  gap:20px;
  display: flex;
  flex-direction: row;

 
}


.discover {

     width: 150px;
    height: 45px;
    margin: 20px;
    border-radius: 6px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
    transition-duration: 1s;

}

.discover:hover{
  color:white;
  border: 1px solid white;
  background-color:rgb(22, 21, 21);
}
.buy{
     width: 150px;
    height: 45px;
    margin: 20px;
    border-radius: 6px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 1s;
  
}
.snorkeling {
  width: 400px;
  height: 200px;
  background-image: url('/image/snorkeling.jpg');
  background-size: cover;
   text-align: center;
  align-content: center;
  border-radius:  40px;
  color:white;
  font-size: 30px;
 
}


.plongee {
  width: 400px;
  height: 200px;
  background-image: url('/image/diving.jpg');
  background-size: cover;
  border-radius:  40px;
   text-align: center;
  align-content: center;
  color:white;
  font-size: 30px;
  
}

.cetaces {
  width: 400px;
  height: 200px;
  background-image: url('/image/cetaces.jpg');
  background-size: cover;
  border-radius:  40px;
  text-align: center;
  align-content: center;
  color:white;
  font-size: 30px;
 
  
}


.snorkeling,
.plongee,
.cetaces {
  position: relative; 
  overflow: hidden;  
}

.snorkeling::after,
.plongee::after,
.cetaces::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease;

}

.snorkeling:hover::after,
.plongee:hover::after,
.cetaces:hover::after {
  background-color: rgba(255, 255, 255, 0.4);
  
  
}

.closingButton{
  width:100px;
  height: 50px;
  background-color: transparent;
  border: transparent;
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.closingButton:hover{
  color:white;
  opacity: 0.7;
}


.customModal{
  background-color:transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0; 
  display: flex;
  justify-content: center;
  
}

.activites{
  color:white;
  font-size: 60px;
}

.modalContent {
  margin-bottom: 150px;
  background-color:transparent;
  width:100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  gap:40px;
  align-items: center;
}


.buy:hover{
  opacity: 90%;
  color:black;
  border: grey;
  background-color:grey;
}

.btnPanier:hover{
  color: grey;
}

.btnPosition:hover{
  color: grey;
}
.btnLoggin:hover{
  color: grey;
}

.menu:hover{
  color: grey;
}



.product{
  display: flex;
  justify-content: center;

}

.soundbar{
  display:flex;
  align-items: center;  
  flex-direction: column;
  margin-top:40px;
}

.banner1{
  font-family: avenir;
font-size: 12px;

}
.banner2{ 
  font-family: avenir;
  font-size: 25px;
font-weight: bolder;
}

.imgbar{
  margin-top:40px;
  width: 1000px;
}

.discovbar{
    
    letter-spacing: 1px;
   width: 150px;
    height: 45px;
    margin: 20px;
    border-radius: 6px;
    border: 1px solid #fff;
    background-color: black;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 1s;

}

.discovbar:hover{
color:rgb(179, 177, 177);
  border: 1px solid rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
}