.title{
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    font-size: 100px;
    
}
.global{
    display: flex;
    width: 100%;
    background-color: rgb(0, 255, 98);
}